<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="description" content="{{ site.data._config.description }}" />
  <meta name="author" content="Cristian Lopez" />
  <meta
    name="robots"
    content="index, follow, max-image-preview:large, max-snippet:-1"
  />

  <meta
    name="keywords"
    content="Event Planning, Wedding Planning, Cre8tiveLA, Event Venue, Quinceañeras, Corporate Events"
  />

  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Cre8tiveLA - Weddings and Events" />
  <meta
    property="og:description"
    content="Serving the South Bay for over 25 years."
  />
  <meta property="og:url" content="https://cre8tivela.com/" />
  <meta property="og:site_name" content="Cre8tiveLA - Weddings and Events" />
  <meta
    property="og:image"
    content="https://cre8tivela.com/assets/img/gal/wgallery1.webp"
  />
  <meta property="og:image:width" content="480" />
  <meta property="og:image:height" content="260" />
  <meta property="og:image:type" content="image/png" />

  <title>
    {%- if page.title -%} {{page.title}} {%- else -%} {{site.title}} {%- endif
    -%}
  </title>

  <link rel="stylesheet" href="/assets/css/custom.css" />

  <!-- Bootstrap core CSS -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />

  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
    crossorigin="anonymous"
  />

  <!-- Custom fonts for this template -->
  <link href="/assets/css/all.min.css" rel="stylesheet" type="text/css" />
  <link
    href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Kaushan+Script"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap"
    rel="stylesheet"
  />

  <!-- icon -->
  <link rel="shortcut icon" href="/favicon.ico" />

  <!-- AOS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />

  <!-- Custom styles for this theme -->
  <!--<link href="/assets/css/agency.min.css" rel="stylesheet">-->
  <link href="/assets/css/agency.css" rel="stylesheet" />

  <!-- Bootstrap Icons -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
  />

  <!-- Page container change top padding when nav shrinks -->
</head>
